<div class="questionLayout">
    <div class="main">
        <div class="section">
            <div class="title">{{question.title}}</div>
            <p>
                {{question.questionContent}}
            </p>
            <pre><code [highlight]="question.classContent" [languages]="['java']" [lineNumbers]="true"></code></pre>
        </div>
        <div class="section">
            <div class="title">Revues:</div>
            <div class="reviewSection">
                @for (review of reviews; track review.author) {
                    <div class="review">
                        <b>{{review.author}}</b>
                        <p>{{review.content}}</p>
                    </div>
                } @empty {
                <p> Aucun revue </p>
                }
            </div>
        </div>

    </div>

    <div class="stats">
        <mat-list>
            <mat-list-item>
                <b>Auteur:</b> {{question.author}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Date:</b> {{ question.creationDate | date:'dd/MM/yyyy, hh:mm'}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Votes:</b> {{question.voteCount}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Commentaires:</b> {{question.commentCount}}
            </mat-list-item>
        </mat-list>
    </div>
</div>
