<div class="questionLayout">
    <div class="main">
        @if (question()) {
        <div class="upperSection">
            <div class="questionSection">
                <div class="title">
                    <span>{{ question()?.title }}</span>
                    @if (canDelete()) {
                    <button mat-raised-button color="primary" (click)="deleteQuestion()" [disabled]="deleting">
                        <div style="display: flex; column-gap: 10px;">
                            <span>Delete question</span>
                            @if (deleting) {
                            <mat-spinner [diameter]="20"></mat-spinner>
                            }
                        </div>
                    </button>
                    }
                </div>
                <p style="margin-top: 20px">
                    {{ question()?.questionContent }}
                </p>
                <pre><code [highlight]="(question()!!.classContent)" [languages]="['java']" [lineNumbers]="true"></code></pre>
                @if (question()?.testResults !== undefined && question()?.testResults!!.length > 0) {
                <div class="title">Tests</div>
                <pre><code [highlight]="question()!!.testClassContent || ''" [languages]="['java']"></code></pre>
                <b>Results</b>
                <pre><code>{{ question()?.testResults }}</code></pre>
                }
            </div>
            <div class="stats">
                <mat-list>
                    <mat-list-item>
                        <b>Auteur:</b> {{ question()?.author }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Date:</b> {{ question()?.creationDate }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Votes:</b> {{ question()?.voteCount }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Commentaires:</b> {{ question()?.commentCount }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-chip-set>
                    @for (tag of question()?.tags; track tag) {
                    <mat-chip>{{ tag }}</mat-chip>
                    }
                </mat-chip-set>
            </div>
        </div>
        }

        <div class="reviewsSection">
            <div class="title">
                <span>Revues</span>

                @if (canReview) {
                <button mat-mini-fab color="primary" (click)="addReview()">
                    <mat-icon>add</mat-icon>
                </button>
                }
            </div>
            <div>
                <app-reviews [reviews]="reviews()"></app-reviews>
            </div>
        </div>
    </div>
</div>