<div class="review">
    <table class="reviewTable">
        <tr>
            <th>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        <b>{{ review.author }}</b>, {{ score(review) }}
                        , {{ review.creationDate | date:'dd/MM/yyyy, HH:mm' }}
                    </span>

                    <div style="display: flex; align-items: center; column-gap: 10px;">
                        @if (canUpdate) {
                            <button mat-raised-button color="primary" (click)="updateReview()">
                                <div style="display: flex; column-gap: 10px;">
                                    <span>Update review</span>
                                </div>
                            </button>
                        }
                        @if (canDelete) {
                            <button mat-raised-button color="primary" (click)="deleteReview()" [disabled]="deleting"
                                    align="end">
                                <div style="display: flex; column-gap: 10px;">
                                    <span>Delete review</span>
                                    @if (deleting) {
                                        <mat-spinner [diameter]="20"></mat-spinner>
                                    }
                                </div>
                            </button>
                        }
                        <button (click)="detailsReview()" color="primary" mat-mini-fab>
                            <mat-icon>more</mat-icon>
                        </button>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <td>
                @if (review.citedCode) {
                    <pre><code [highlight]="review.citedCode" [languages]="['java']"></code></pre>
                }
                <markdown [data]="review.content"></markdown>
            </td>
        </tr>
        @if (review.reviews.length > 0) {
            <tr>
                <td colspan="2" style="border-right: none">
                    <div class="review">
                        @for (subReview of review.reviews; track subReview.author) {
                            <table class="reviewTable">
                                <tr>
                                    <th>
                                        <b>{{ subReview.author }}</b>, {{ score(subReview) }}
                                        , {{ subReview.creationDate | date:'dd/MM/yyyy, HH:mm' }}
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{{ subReview.content }}</p>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
