.review {
    border-radius: 5px;
    padding: 5px;
    border: solid black 1px;
    background-color: white;
}

.reviewTable {
    width: 100%;
    border-collapse: collapse;
}

.reviewTable > tr > td {
    text-align: left;
    vertical-align: top;
    padding: 4px;
}

.reviewTable > tr > td:first-child {
    border-right: solid 1px grey;
    vertical-align: center;
}

.reviewTable > tr > th {
    border-bottom: solid 1px grey;
    text-align: left;
    padding: 4px;
}

.mat-upvote {
    background-color: #43A047;
    color: #ffffff;
}

.mat-downvote {
    background-color: #E53935;
    color: #fff;
}
