<div class="review">
    <table class="reviewTable">
        <tr>
            <th colspan="2"><b>{{ review.author }}</b>, {{ review.creationDate | date:'dd/MM/yyyy, HH:mm' }}</th>
        </tr>
        <tr>
            <td style="width: 5%; min-width: 60px;">
                <div class="voteSection">
                    <button color="upvote" extended mat-mini-fab>
                        <mat-icon>thumb_up</mat-icon>

                    </button>
                    {{ review.upvotes }}

                    <button color="downvote" mat-mini-fab>
                        <mat-icon>thumb_down</mat-icon>
                    </button>
                    {{ review.downvotes }}
                </div>
            </td>
            <td>
                @if (review.citedCode) {
                    <pre><code [highlight]="review.citedCode" [languages]="['java']"></code></pre>
                }
                <p>{{ review.content }}</p>
            </td>
        </tr>
        @if (review.reviews.length > 0) {
            <tr>
                <td colspan="2" style="border-right: none">
                    <app-reviews [reviews]="review.reviews"></app-reviews>
                </td>
            </tr>
        }
    </table>
</div>
