<mat-toolbar>
    <img src="../../../../assets/images/logo.png">
    <span>ReveVue</span>
    <span class="spacer"></span>
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search</mat-label>
        <input matInput>
    </mat-form-field>
    @if (userService.isLogin()) {
        <button mat-button color="primary" (click)="profile()">
            <mat-icon>account-circle</mat-icon>
            Mon profil
        </button>
        <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
    } @else {
        <button mat-stroked-button color="primary" (click)="login()">Log in</button>
        <button mat-raised-button color="primary" (click)="signup()">Sign up</button>
    }

</mat-toolbar>
