<mat-toolbar>
    <img src="../../../../assets/images/logo.png">
    <span>ReveVue</span>
    <span class="spacer"></span>
    <mat-form-field>
        <mat-button-toggle matIconPrefix (click)="search()"><mat-icon matPrefix>search</mat-icon></mat-button-toggle>
        <mat-label>Rechercher une question</mat-label>
        <input matInput (keyup)="updateLabel($event)" (keyup.enter)="search()">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Rechercher un utilisateur</mat-label>
        <input matInput (keyup)="updateUsername($event)" (keyup.enter)="search()">
    </mat-form-field>
    @if (userService.isLogin()) {
        <button mat-button color="primary" (click)="profile()">
            <mat-icon>account-circle</mat-icon>
            Mon profil
        </button>
        <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
    } @else {
        <button mat-stroked-button color="primary" (click)="login()">Log in</button>
        <button mat-raised-button color="primary" (click)="signup()">Sign up</button>
    }

</mat-toolbar>
