@if (review) {
<div style="display: flex; flex-direction: column;">
    <div style="display: flex;">
        <div style="flex-grow: 2; display: flex; flex-direction: column;" align="center">
            <div>
                <button mat-icon-button
                    [ngStyle]="{'color': review.vote === true ? 'white': 'green', 'background-color': review.vote === true ? 'green': 'white'}"
                    (click)="vote(review, true)">
                    <mat-icon>thumb_up</mat-icon>
                </button>
            </div>
            <span>{{ review.upvotes - review.downvotes }}</span>
            <div>
                <button mat-icon-button
                    [ngStyle]="{'color': review.vote === false ? 'white': 'red', 'background-color': review.vote === false ? 'red': 'white'}"
                    (click)="vote(review, false)">
                    <mat-icon>thumb_down</mat-icon>
                </button>
            </div>
        </div>
        <div
            style="flex-grow: 10; display: flex; flex-direction: column; row-gap: 20px; justify-content: space-between;">
            <span>{{ review.content }}</span>

            <div style="display: flex; justify-content: space-between; align-items: center;">
                <span>Published by {{ review.author }} on {{ review.creationDate | date }}</span>

                <div style="display: flex; column-gap: 5px;">
                    <button mat-mini-fab color="primary" (click)="addReview()">
                        <mat-icon>add</mat-icon>
                    </button>
                    @if (canDelete) {
                    <button mat-mini-fab color="primary" (click)="deleteReview()">
                        <mat-icon>delete</mat-icon>
                    </button>
                    }
                    <button mat-mini-fab color="primary" (click)="detailsReview()">
                        <mat-icon>more</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex;">
        <div style="flex-grow: 2; padding-right: 50px;">
            <mat-divider [vertical]="true" style="height: 100%; border-right-color: black;"></mat-divider>
        </div>
        <div style="flex-grow: 10;">
            @for(childReview of review.reviews; track childReview.id) {
            <app-child-review [review]="childReview" (onDelete)="onChildDelete($event)"></app-child-review>
            }
        </div>
    </div>
</div>
}