@if (!isLogged()) {
    <body>
    <div class="container">
        <div class="topdiv">
            <div class="three">
                <h1>UGE ReveVue</h1>
            </div>
        </div>
        <div class="bottomdiv">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title  class="card-title">Community</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="card-text">
                        Locate the finest response to your technical query and assist others in receiving theirs.
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title  class="card-title">Socials</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="card-text">
                        Connect, answer, and solve together! Our social coding platform lets you solve problems of developers around the world.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    </body>
}
