.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .row {
        display: flex;
        flex-wrap: wrap;
        .col {
            flex-basis: calc(33.33% - 10px);
            margin-bottom: 10px;
            .card-size {
                flex: 0 0 calc(33.33% - 10px); /* Pour laisser un petit espace entre les cartes */
                margin-bottom: 10px; /* Ajustez cet espace selon vos besoins */
                .card-content-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

            }
        }
    }
}





