.container {
  padding: 20px;
  display: flex;
  flex-grow: 1;
}

.questionList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;

  .question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: #282b2e 2px solid;
    border-radius: 10px;
    background-color: #eeeeee;

    &:hover {
      background-color: #fafafa;
      cursor: pointer;
    }

    .questionTitle {
      font-weight: bold;
      font-size: large;
      border-bottom: #282b2e 1px solid;
      padding: 5px;
    }

    .questionDate {
      font-style: italic;
    }

    .questionDescription {

    }
  }
}