<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Revevue</title>
    <link href="../../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<header th:replace="~{fragments/header :: header}">
    <div class="site-identity">
        <h1><a href="/light">Revevue</a></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>

<main>
    <script>
        function redirectToQuestionDetail(row) {
            const questionId = row.getAttribute('data-question-id');
            window.location.href = '/light/questions/' + questionId;
        }
    </script>
    <div class="nav" th:replace="~{fragments/sidenav :: sidenav}">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Questions</a></li>
            <li><a href="#">Socials</a></li>
        </ul>
    </div>
    <div class="content">
        <h1 style="align-self: center">Page de questions</h1>
        <div class="flex justify-evenly code-content">
            <div class="flex flex-column table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>User Name</th>
                        <th>Date</th>
                        <th>Nombre de votes</th>
                        <th>Nombre de réponses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question : ${questions}" th:data-question-id="${question.id}" onclick="redirectToQuestionDetail(this)">
                        <td th:text="${question.title}"></td>
                        <td th:text="${question.userName}"></td>
                        <td th:text="${question.date}"></td>
                        <td th:text="${question.nbVotes}"></td>
                        <td th:text="${question.nbAnswers}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${#authentication != null}" class="ask-question-button">
            <a href="/light/questions/ask" class="button">Poser une question</a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}">
    &copy; 2024 Revevue
</footer>

</body>
</html>
