<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Revevue</title>
    <link href="../../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css" rel="stylesheet">
    <!-- Include Prism.js for code highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-java.min.js"></script>
</head>

<body>

<header th:replace="~{fragments/header :: header}">
    <div class="site-identity">
        <h1><a href="/light">Revevue</a></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="nav" th:replace="~{fragments/sidenav :: sidenav}">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Questions</a></li>
            <li><a href="#">Socials</a></li>
        </ul>
    </div>
    <div class="content">
        <h2>Créer une revue</h2>
        <form method="post" th:action="@{/light/reviews/create}" th:object="${request}">
            <input name="questionId" th:value="${questionId}" type="hidden"/>
            <div class="form-group">
                <label for="content">Contenu de la revue :</label>
                <textarea class="form-control" id="content" name="content" required th:field="*{content}"></textarea>
            </div>
            <div class="form-group">
                <label for="lineStart">Ligne de début :</label>
                <input class="form-control" id="lineStart" name="lineStart" th:field="*{lineStart}" type="number" inputmode="numeric">
                <p style="color: red" th:if="${#fields.hasErrors('lineStart')}" th:errors="*{lineStart}">La ligne doit être positive</p>
            </div>
            <div class="form-group">
                <label for="lineEnd">Ligne de fin :</label>
                <input class="form-control" id="lineEnd" name="lineEnd" th:field="*{lineEnd}" type="number" inputmode="numeric">
                <p style="color: red"  th:if="${#fields.hasErrors('lineEnd')}" th:errors="*{lineStart}">La ligne doit être positive</p>
            </div>
            <button class="btn btn-primary" type="submit">Créer la revue</button>
        </form>
    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}">
    &copy; 2024 Revevue
</footer>

</body>
</html>