<div class="main">
    <div class="section">
        <div class="title" style="margin-bottom: 15px">Poser une question</div>
        <form [formGroup]="form" class="form-section">
            <mat-form-field>
                <mat-label>Titre</mat-label>
                <input formControlName="questionTitle" matInput maxlength="255" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Question</mat-label>
                <textarea formControlName="questionContent" matInput required rows="10"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Java Class</mat-label>
                <input [value]="form.value.javaClass?.name" matInput required>
                <button (click)="javaClassUpload.click()" mat-icon-button matPrefix>
                    <mat-icon>folder</mat-icon>
                </button>
                @if (form.value.javaClass !== null) {
                    <button (click)="onJavaClassWipe()" mat-icon-button matSuffix>
                        <mat-icon>delete</mat-icon>
                    </button>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Test Class</mat-label>
                <input [value]="form.value.testClass?.name" matInput readonly>
                <button (click)="testClassUpload.click()" mat-icon-button matPrefix>
                    <mat-icon>folder</mat-icon>
                </button>
                @if (form.value.testClass !== null) {
                    <button (click)="onTestClassWipe()" mat-icon-button matSuffix>
                        <mat-icon>delete</mat-icon>
                    </button>
                }
            </mat-form-field>
            @if(!isLoading()){
                <button (click)="onSubmit()" [disabled]="!form.valid" color="primary" mat-button mat-raised-button>Poster
                </button>
            }
            <input #javaClassUpload (change)="onJavaClassPicked($event)" style="display: none" type="file">
            <input #testClassUpload (change)="onTestClassPicked($event)" style="display: none" type="file">
        </form>
    </div>
    @if(isLoading()){
        <mat-spinner></mat-spinner>
        <p>Création de la question et lancement des tests...</p>
    } @else {
        <button  (click)="gotoQuestion()" mat-button>
            Retour à la liste des questions
        </button>
    }
</div>

