<h2 mat-dialog-title align="center">Add review</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Ligne de début</mat-label>
            <input matInput type="text" formControlName="lineStart">
            @if (form.controls.lineStart.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ligne de fin</mat-label>
            <input matInput type="text" formControlName="lineEnd">
            @if (form.controls.lineEnd.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contenu</mat-label>
            <input matInput type="text" formControlName="content">
            @if (form.controls.content.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button color="primary" (click)="close()">Cancel</button>
    <button mat-raised-button [disabled]="!form.valid" color="primary" (click)="confirm()">Confirm</button>
</mat-dialog-actions>