<div class="content">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Toutes les questions</h2>
        @if (isLogin()) {
            <button mat-raised-button color="primary" (click)="navigateTo('/questions/ask')">Créer une question</button>
        }
    </div>
    <span style="font-size: 17px;">
        {{ numberQuestions() }} questions
    </span>
    <div [formGroup]="form" class="search-container">
        <mat-form-field appearance="outline">
            <mat-label>Recherche une question...</mat-label>
            <input formControlName="labelSearch" matInput placeholder="Par label">
            <button (click)="search()" mat-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Recherche par utilisateur</mat-label>
            <input matInput placeholder="Par utilisateur">
            <button (click)="search()" formControlName="usernameSearch" mat-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <div class="sort-buttons">
            <button (click)="sortByDate()" color="primary" mat-button>Trié par date</button>
            <button color="primary" mat-button>Trié par score</button>
        </div>
    </div>
    <app-questions-displayer [questions]="questions()"></app-questions-displayer>
</div>
