<div class="content">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Toutes les questions</h2>
        @if(isLogin()){
        <button mat-raised-button color="primary" (click)="navigateTo('/questions/ask')">Créer une question</button>
        }
    </div>
    <span style="font-size: 17px;">
        {{numberQuestions()}} questions
    </span>
    <div class="search-container" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Recherche une question...</mat-label>
            <input matInput formControlName="labelSearch" placeholder="Par label">
            <button mat-button matSuffix (click)="search()">
                <mat-icon>search</mat-icon >
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Recherche par utilisateur</mat-label>
            <input matInput placeholder="Par utilisateur">
            <button mat-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <app-questions-displayer [questions]="questions()"></app-questions-displayer>
</div>
