app-questions {
    display: flex;
    width: 100%;

    .content {
        align-content: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        flex-grow: 1;
        padding: 20px;

        .info {
            display: flex;
            flex-direction: column;
        }
    }
}