<div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <span style="font-size: 25px; font-weight: 500;">Socials</span>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Filtrer les utilisateurs</mat-label>
            <input (input)="filter($event)" matInput placeholder="Rechercher">
        </mat-form-field>
    </div>
    <div class="row">
        @for (userInfo of getPagedUserFollowedInfos(); track userInfo) {
            <div class="col">
                <mat-card class="card-size">
                    <mat-card-content class="card-content-container">
                        <div>
                            <button mat-button color="primary" (click)="gotoProfileUser(userInfo)">
                                {{ userInfo.username }}
                            </button>

                        </div>
                        @if (isLogged()) {
                            <div>
                                @if (userInfo.isFollowing) {
                                    <button mat-button color="warn" (click)="onUnfollow(userInfo)">Unfollow</button>
                                } @else {
                                    <button mat-button color="primary" (click)="onFollow(userInfo)">Follow</button>
                                }
                            </div>
                        }
                    </mat-card-content>
                </mat-card>
            </div>
        }
    </div>
</div>

<mat-paginator (page)="onPageChange($event)" [length]="usersFiltered.length" [pageSize]="pageSize"></mat-paginator>
