body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

main {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
}

main .nav {
    display: flex;
    padding: 0 2em;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

main .nav ul,
main .nav li {
    margin: 0;
    padding: 0;
}

main .nav li {
    list-style-type: none;
    margin: 1.4em 1em 1em 1em;
    font-weight: bold;
}

main .content {
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
}

form input {
    margin: 0.5em 0;
    padding: 0.5em;
}

form button {
    margin: 0.5em 0;
    padding: 0.5em;
}

header {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}

.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    font-weight: bold;
}

footer {
    box-sizing: border-box;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #ccc;
    padding: .5em 1em;
    text-align: center;
    background-color: #eeeeee;
}

.error {
    color: red;
}

input:invalid {
    border: 1px solid red;
}

.flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center {
    align-content: center;
}
.align-around{
    align-content: space-around;
}
.align-between {
    align-content: space-between;
}
.align-evenly{
    align-content: space-evenly;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

.table-container {
    max-height: 80%;
    overflow-y: auto;
}

.question-content {
    font-size: 16px;
    margin-top: 20px;
}
.class-content {
    margin-top: 20px;
}

.container {
    display: flex;
    margin: 10px;
}
.detail-container{
    display: flex;
    flex-direction: column;
}
.code-container {
    max-width: 40%;
    max-height: 800px;
    overflow: auto;
}
.code-container pre {
    margin: 0;
    padding: 10px;
}
.code-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.user-list {
    margin-top: 20px;
}
.user-list-item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* Styles for the header */
header {
    background-color: #34495e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.site-identity h1 a {
    color: #ffffff;
    text-decoration: none;
}

.site-identity h1 a:hover {
    color: #f39c12;
}

/* Styles for the navigation */
.site-navigation ul {
    list-style: none;
    padding: 0;
}

.site-navigation ul li {
    display: inline;
    margin-right: 20px;
}

.site-navigation ul li a {
    color: #ffffff;
    text-decoration: none;
}

.site-navigation ul li a:hover {
    color: #f39c12;
}

/* Styles for the main content */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.section {
    flex-basis: 30%;
    background-color: #ecf0f1;
    padding: 20px;
    margin-bottom: 20px;
}

.section h2 {
    color: #2c3e50;
}

.section p {
    color: #34495e;
}

.button {
    display: inline-block;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}


.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.login-card h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.login-card .error {
    color: #e74c3c;
}

.login-card form {
    text-align: center;
}

.login-card form label {
    display: block;
    margin-bottom: 10px;
    color: #2c3e50;
}

.login-card form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-card form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-card form button:hover {
    background-color: #2980b9;
}

.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.register-card h1 {
    text-align: center;
    color: #2c3e50;
}

.register-card .error {
    color: #e74c3c;
}

.register-card form {
    text-align: center;
}

.register-card form label {
    display: block;
    margin-bottom: 10px;
    color: #2c3e50;
}

.register-card form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-card form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-card form button:hover {
    background-color: #2980b9;
}


.ask-question-button {
    margin-top: 20px;
    text-align: center;
}

.ask-question-button .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ask-question-button .button:hover {
    background-color: #2980b9; /* Changement de couleur au survol */
}

.code-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input[type="text"],
textarea,
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 600px) {
    input[type="text"],
    textarea,
    input[type="file"],
    button {
        width: 100%;
    }
}

.ask-content{
    max-width: 800px;
}

/*Review section*/

.review-section {
    margin-top: 20px;
}

.review-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.review-author {
    font-weight: bold;
    color: #333;
}

.review-content {
    margin-top: 5px;
    color: #666;
}

.review-cited-code {
    margin-top: 5px;
    font-family: monospace;
}

.review-votes {
    margin-top: 5px;
}

.review-votes span {
    margin-right: 10px;
    color: #666;
}

.review-date {
    margin-top: 5px;
    font-style: italic;
    color: #999;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .review-container {
        padding: 8px;
    }

    .review-votes span {
        font-size: 0.8em;
    }
}


/*review detail */

.review-detail {
    margin-bottom: 20px;
}

.sub-review-list {
    margin-top: 20px;
}

.sub-review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.sub-review-link {
    text-decoration: none;
    color: #333;
}

.sub-review-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.sub-review-content {
    margin-bottom: 10px;
}


/* VOTES */

.upvotes{
    color: green;
}
.downvotes{
    color: red;
}