<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Revevue</title>
    <link href="../../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<header th:replace="~{fragments/header :: header}">
    <div class="site-identity">
        <h1><a href="/light/">Revevue</a></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="nav" th:replace="~{fragments/sidenav :: sidenav}">
        <ul>
            <li><a href="#">Questions</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Follow</a></li>
        </ul>
    </div>
    <div class="content">
        <section id="questions">
            <h2>Questions</h2>
            <p>Posez des questions en fournissant le code Java et des tests unitaires.</p>
            <a th:if="${#authentication == null}" href="/light/login" class="button">Poser une question</a>
            <a th:if="${#authentication != null}" href="/light/questions/ask" class="button">Poser une question</a>
        </section>

        <section id="reviews">
            <h2>Reviews</h2>
            <p>Répondez aux questions des utilisateurs pour les aider dans leurs problèmes.</p>
            <a href="/light/questions/" class="button">Voir les questions</a>
        </section>

        <section id="follow">
            <h2>Follow</h2>
            <p>Trackez les questions des autres utilisateurs en les suivant.</p>
            <a href="#" class="button">Voir les utilisateurs à suivre</a>
        </section>
    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}">
    &copy; 2024 Revevue
</footer>

</body>
</html>
