<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Revevue</title>
    <link href="../../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>

<body>

<header th:replace="~{fragments/header :: header}">
    <div class="site-identity">
        <h1><a href="/light">Revevue</a></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>


<main>
    <div class="nav" th:replace="~{fragments/sidenav :: sidenav}">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Questions</a></li>
            <li><a href="#">Tags</a></li>
            <li><a href="#">Socials</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Login</h1>
        <p class="error" th:if="${loginFailed != null}">Wrong username or password</p>

        <form method="post" th:action="@{/light/login}" th:object="${credentialsDTO}">
            <label for="login">Account name:</label><br>
            <input id="login"
                   required
                   th:field="*{login}"
                   th:value="*{login}"
                   type="text">
            <span th:errorclass="error" th:errors="*{login}"
                  th:if="${#fields.hasErrors('login')}">Invalid account name</span><br>

            <label for="password">Password:</label><br>
            <input id="password"
                   required
                   th:field="*{password}"
                   th:value="*{password}"
                   type="password">
            <span th:errorclass="error" th:errors="*{password}"
                  th:if="${#fields.hasErrors('password')}">Invalid password</span><br>
            <button type="submit">Log in</button>
        </form>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}">
    &copy; 2024 Revevue
</footer>


</body>
</html>