<div class="all-page">
  <header style="z-index: 2;">
    <app-nav-bar></app-nav-bar>
  </header>

  <main style="display: flex; flex-grow: 1; overflow: hidden;">
    <mat-drawer-container class="drawer-container">
      <mat-drawer mode="side" opened style="width: 180px;">
        <app-sidenav-bar [navs]="navs"></app-sidenav-bar>
      </mat-drawer>
      <mat-drawer-content style="display: flex; flex-grow: 1;">
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </main>
</div>