app-questions {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    flex-grow: 1;
    background-color: white;
    .info{
        display: flex;
        flex-direction: column;
    }
}
