<div class="form-signup">
    <h3 class="signup-title">S'enregistrer</h3>
    <form [formGroup]="signupForm" (ngSubmit)="signup()" style="display: flex; flex-direction: column;">
        <mat-form-field>
            <mat-label>Nom d'usage</mat-label>
            <input matInput type="text" formControlName="displayName">
            @if (signupForm.controls.displayName.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
            @if (signupForm.controls.email.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nom de compte</mat-label>
            <input matInput type="text" formControlName="accountName">
            @if (signupForm.controls.displayName.hasError('required')) {
                <mat-error>Required</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password">
            @if (signupForm.controls.password.hasError('required')) {
            <mat-error>Required</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Sign up</button>
    </form>
</div>

<span>
    Already have an account ? <a href="/login">Log in</a>
</span>
