@if (!isLogged()) {
    <body>
        <div class="container">
            <div class="topdiv">
                <div class="three">
                    <h1>UGE ReveVue</h1>
                </div>
            </div>
            <div class="bottomdiv">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title  class="card-title">Posez vos questions</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="card-text">
                            Un problème dans votre code Java ? Posez votre question la communeauté vous répondra !
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title  class="card-title">Reviewez !</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="card-text">
                            Reviewez le code des autres ! Notre plateforme de codage social vous permet de résoudre les problèmes des développeurs du monde entier.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title  class="card-title">Suivez les autres utilisateurs</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="card-text">
                            Suivez les utilisateurs que vous jugez les plus pertinents pour observer leurs activités et leurs propre questions !
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </body>
}
@else {
    <div class="container" style="width: 100%; height: 100%;">
        <h2>Bonjour {{userInfo()?.username}} !</h2>
        @if (questions$ | async; as questions) {
            @if (questions.lines.length) {
                <h3 style="margin: 20px">Voici les questions des gens que tu follows en priorité</h3>
                @if (!questions.loading) {
                    <div style="width: 100%; height: 100%; display: flex; flex-grow: 1;">
                        <div style="background-color: whitesmoke; padding: 20px; flex-grow: 1; display: flex;">
                            <app-questions-displayer [questions]="questions.lines"></app-questions-displayer>
                        </div>
                    </div>
                }
                @else {
                    <mat-spinner></mat-spinner>
                }
            }
            @else {
                <span>Aucune questions à afficher pour les follows</span>
            }
        }
    </div>
}
