@if (reviewDetail() !== undefined) {
<div class="details-header">
    <div style="padding: 20px; display: flex; flex-direction: column; row-gap: 20px;">
        <div style="display: flex; justify-content: space-between;">
            <span style="font-size: 18px; font-weight: 500;">Review details</span>

            @if (canDelete) {
            <button mat-mini-fab color="primary" (click)="deleteReview()">
                <mat-icon>delete</mat-icon>
            </button>
            }
        </div>
        <span>{{ reviewDetail()?.content }}</span>

        @if (reviewDetail()?.citedCode) {
        <pre><code [highlight]="(reviewDetail()!!.citedCode)" [languages]="['java']" [lineNumbers]="true"></code></pre>
        }

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span>Published by {{ reviewDetail()?.author }} on {{ reviewDetail()?.creationDate | date }}</span>

            <div>
                <button mat-icon-button
                    [ngStyle]="{'color': reviewDetail()?.vote === true ? 'white': 'green', 'background-color': reviewDetail()?.vote === true ? 'green': 'white'}"
                    (click)="vote(reviewDetail()!!, true)">
                    <mat-icon aria-hidden="false" matBadge="{{ reviewDetail()?.upvotes }}" matBadgeSize="small"
                        class="green-badge">thumb_up</mat-icon>
                </button>
                <button mat-icon-button
                    [ngStyle]="{'color': reviewDetail()?.vote === false ? 'white': 'red', 'background-color': reviewDetail()?.vote === false ? 'red': 'white'}"
                    (click)="vote(reviewDetail()!!, false)">
                    <mat-icon aria-hidden="false" matBadge="{{ reviewDetail()?.downvotes }}" matBadgeSize="small"
                        class="red-badge">thumb_down</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="details-header">
    <div style="padding: 20px; display: flex; flex-direction: column; row-gap: 20px;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="font-size: 18px; font-weight: 500;">Reviews</span>

            @if (canReview) {
            <button mat-mini-fab color="primary" (click)="addReview()">
                <mat-icon>add</mat-icon>
            </button>
            }
        </div>

        <mat-divider></mat-divider>
        @for(childReview of subReviews(); track childReview.id; let childReviewIndex = $index) {
        <app-child-review [review]="childReview" (onDelete)="onChildDelete($event)"></app-child-review>
        }
        @empty {
        <span>Aucune review</span>
        }
    </div>
</div>
}
@else {
<mat-spinner></mat-spinner>
}
